<section class="section_tela-login">
    <div class="header">
        <img src="../../../assets/svg/titulo.svg" alt="">
    </div>
</section>

<section class="section_tela-login">
    <div>
        <img class="logo1" src="../../../assets/svg/arvore3.png" alt="">
        <img class="logo" src="../../../assets/svg/logo.svg" alt="">
    </div>
</section>

<section class="section_tela-login">
    <form [formGroup]="formulario">
        <div class="form-row">
            <div class="container">
                <div>
                    <div>
                        <input type="email" maxlength="100" class="form-control" formControlName="email" placeholder="Email">
                    </div>
                </div>

                <div class="senha-edit">
                    <div>
                        <input type="password" maxlength="10" class="form-control" formControlName="senha" placeholder="Senha">
                    </div>
                </div>

                <div>
                    <button [routerLink]='["../tela-inicial"]' class="btn btn-outline" [disabled]="disableButton()">
                        <span>Logar</span></button>
                </div>
            </div>
        </div>
    </form>
</section>

<section class="footer">
    <app-footer></app-footer>
</section>