@media (min-width: 300px) {
    .header {
        background-color: #45D1C1;
        width: 375px;
        height: 190px;
    }

    img {
       margin-top: -95px;
       padding-left: 32px;
       width: 368px;
       height: 285px;
    }

    .logo {
        display: flex;  
        justify-content: center;
        align-items: center;
        width: 292px;
        height: 234px;
        margin-left: 7px;
        margin-top: -220px;
    }

    .logo1{
        display: flex;  
        justify-content: center;
        align-items: center;
        width: 230px;
        height: 190px;
        margin-left: 53px;
    }

    .form-row {
        margin: 30px;
        display: flex;  
        justify-content: center;
        align-items: center;
    }

    .form-control {
        width: 100%;
        height: calc(1.5em + .75rem + 2px);
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #707070;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #707070;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }


    .footer-edit {
        margin-top: 148px;
    }

    .senha-edit {
        margin-top: 20px;
    }

    .btn{
        font-size: 16px;
        margin: 15px 15px 15px 15px;
        width: 150px;
        padding: 15px;
    }
     
  .btn-outline {
    color: #45D1C1;
    border: 1px solid;
    border-color: #45D1C1;
    display: flex;  
    justify-content: center;
    align-items: center;
    background-color: #45D1C1;
  }
  
  
  .btn-outline:hover, .btn-outline:focus, .btn-outline:active, .btn-outline.active {
   color: #fff;
   border-color: #fff;
   background-color: #45D1C1;
 }

 span{
     font-weight: 500;
     color: #707070
 }
}


  @media (min-width: 768px) {

  }