<section class="div-ultimos-vistos">
    <app-segundo-topo [routerLink]='["../tela-inicial"]'></app-segundo-topo>
</section>

<section>
    <app-campo-busca></app-campo-busca>
</section>

<div class="titulo_container">
    <h2>Tags</h2>
    <img src="../../../assets/img/icons8-gancho-de-porta-100.png" alt="">
</div>

<section class="container_tags">
    <span class="tag_aventura">Aventura</span>
    <span class="tag_drama">Drama</span>
    <span class="tag_biografia">Biografia</span>
    <span class="tag_brasileiro">Brasileiro</span>
    <span class="tag_terror">Terror</span>
    <span class="tag_misterio">Mistério</span>
    <span class="tag_fantasia">Fantasia</span>
    <span class="tag_romance">Romance</span>
    <span class="tag_poesia">Poesia</span>
    <span class="tag_apocalipse">Apocalipse</span>
    <span class="tag_conto">Conto</span>
    <span class="tag_folhetim">Folhetim</span>
    <span class="tag_fabula">Fábula</span>
    <span class="tag_princesa">Princesas</span>
    <span class="tag_cronica">Crônica</span>
    <span class="tag_zumbis">Zumbis</span>
    <span class="tag_guerra">Guerras</span>
    <span class="tag_literatura">Literatura</span>
    <span class="tag_suspense">Suspense</span>
    <span class="tag_musica">Música</span>
    <span class="tag_steampunk">Steampunk</span>
    <span class="tag_cientifico">Científico</span>
    <span class="tag_epico">Épico</span>
</section>

<img [routerLink]='["../tela-inicial"]' class="arrow_left"
        src="../../../assets/img/icons8-seta-longa-a-esquerda-100.png" alt="Seta">

<section class="footer_section">
    <app-footer></app-footer>
</section>