<!-- <section>
  <app-header></app-header>
</section> -->

<section>
  <app-segundo-topo [routerLink]='["../tela-inicial"]'></app-segundo-topo>
</section>


<div class="tela_inicial-busca d-flex justify-content-center">
  <img src="../../../assets/icons8-pesquisa-google-na-web-200.png" alt="">
  <input type="text" class="tela_inicial-busca-input" placeholder="Pesquisar">
</div>

<div class="titulo_container">
  <h2>Podcast</h2>
  <img src="../../../assets/icons8-fone-de-ouvido-100.png" alt="">
</div>

<div class="botoes_amigos">
  <button>Amigos por capítulo</button>
  <button>Leitura individual</button>
</div>

<div class="container_podcasts">
  <div class="podcast podcast_categoria">Aventura</div>
  <div class="podcast podcast_categoria">Romance</div>
  <div class="podcast podcast_categoria">Contos</div>
  <div class="podcast podcast_categoria">Poesia</div>
  <div class="podcast podcast1"></div>
  <div class="podcast podcast2"></div>
  <div class="podcast podcast3"></div>
  <div class="podcast podcast4"></div>
  <div class="podcast podcast5"></div>
  <div class="podcast podcast6"></div>
</div>

<div class="preFooter_container">
  <img [routerLink]='["../tela-inicial"]' class="arrow_left" src="../../../assets/icons8-seta-longa-a-esquerda-100.png" alt="Seta">
  <img src="../../../assets/Ethnic friendship-pana.png" alt="Amigos do podcast">
</div>


<section>
  <app-footer></app-footer>
</section>