div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 100%;
}

@media (min-width: 320px) {
    div {
        background-color: #45D1C1;
        height: 131px;   
    }

    img {
       margin: 15px 10px 6px 9px;
       width: 96px;
       max-width: 96px;
       height: 100px;
    }
    
    .home{
        width: 65px;
        height: 65px;
        margin: 7px 7px 7px 135px;
    }
  }

 
  @media (min-width: 360px) {
    div {
        background-color: #45D1C1;
        height: 131px;
    }

    img {
       margin: 15px 10px 6px 9px;
       width: 96px;
       height: 100px;
    }
    
    .home{
        width: 65px;
        height: 65px;
        max-width: 96px;
        margin: 7px 7px 7px 150px;
    }
  }

 
  @media (min-width: 370px) {
    div {
        background-color: #45D1C1;
        height: 131px;
    }

    img {
       margin: 15px 10px 6px 9px;
       width: 96px;
       max-width: 96px;
       height: 100px;
    }
    
    .home{
        width: 65px;
        height: 65px;
        margin: 7px 7px 7px 175px;
    }
  }