<section>
  <app-header></app-header>
</section>

<section class="cards_container">
  <div class="card_pagina" [routerLink]='["../tela-podcast"]'>
    <img class="card_pagina-icone" src="../../../assets/svg/arvore1.png" alt="Icone 1">
    <p>Podcast</p>
  </div>
  <div class="card_pagina" [routerLink]='["../tela-club-livro"]'>
    <img class="card_pagina-icone" src="../../../assets/svg/arvore1.png" alt="Icone 1">
    <p>Clube da Árvore</p>
  </div>
  <div class="card_pagina" [routerLink]='["../tela-filtro-tags"]'>
    <img class="card_pagina-icone" src="../../../assets/svg/arvore1.png" alt="Icone 1">
    <p>Tags</p>
  </div>
  <div class="card_pagina" [routerLink]='["../tela-gamification"]'>
    <img class="card_pagina-icone" src="../../../assets/svg/arvore1.png" alt="Icone 1">
    <p>Gamification</p>
  </div>
</section>



<section>
  <app-footer></app-footer>
</section>