<section>
  <app-header></app-header>
</section>

<section class="cards_container">
  <div class="card_pagina">
    <img class="card_pagina-icone" src="../../../assets/svg/arvore1.png" alt="Icone 1">
    <p>Podcast</p>
  </div>
  <div class="card_pagina">
    <img class="card_pagina-icone" src="../../../assets/svg/arvore1.png" alt="Icone 1">
    <p>Clube da Árvore</p>
  </div>
  <div class="card_pagina">
    <img class="card_pagina-icone" src="../../../assets/svg/arvore1.png" alt="Icone 1">
    <p>Quadrado 2</p>
  </div>
  <div class="card_pagina">
    <img class="card_pagina-icone" src="../../../assets/svg/arvore1.png" alt="Icone 1">
    <p>Quadrado 2</p>
  </div>
</section>



<section>
  <app-footer></app-footer>
</section>