<section>
  <app-segundo-topo [routerLink]='["../tela-login"]'></app-segundo-topo>
</section>

<section class="section_busca">
  <app-campo-busca></app-campo-busca>
</section>


<section class="cards_container">
  <div class="card_pagina">
    <img class="card_pagina-icone" [routerLink]='["../tela-club-livro"]' src="../../../assets/img/icons8-livro-100.png" alt="Icone 1">
    <p>Clube da Árvore</p>
  </div>
  <div class="card_pagina">
    <img class="card_pagina-icone" [routerLink]='["../tela-gincana-leitura"]' src="../../../assets/img/icons8-medalha-100.png" alt="Icone 1">
    <p>Gincana da Leitura</p>
  </div>
  <div class="card_pagina">
    <img class="card_pagina-icone"  [routerLink]='["../tela-podcast"]' src="../../../assets/img/icons8-fone-de-ouvido-100.png" alt="Icone 1">
    <p>Podcast</p>
  </div>
  <div class="card_pagina">
    <img class="card_pagina-icone" [routerLink]='["../tela-ranking"]' src="../../../assets/img/ranking.png" alt="Ícone Ranking">
    <p>Ranking</p>
  </div>
  <div class="card_pagina">
    <img class="card_pagina-icone" src="../../../assets/img/icons8-gancho-de-porta-100.png" alt="Icone 1">
    <p>Tags</p>
  </div>
  <div class="card_pagina">
    <img class="card_pagina-icone" [routerLink]='["../tela-ultimos-lidos"]' src="../../../assets/img/ultimos-lidos.png" alt="Ícone Ultimos lidos">
    <p>Últimos lidos</p>
  </div>
</section>

<section>
  <app-footer></app-footer>
</section>