.ultimos-lidos-busca {
    position: relative;
  }
  
  .ultimos-lidos-busca img {
    position: absolute;
    top: 5px;
    left: 20px;
  }
  
  .ultimos-lidos-busca-input {
    border: 1px solid #707070;
    padding: 10px 10px 10px 60px;
    border-radius: 10px;
    width: 100%;
    margin: 20px auto;
    display: block;
    color:#783F04;
    font-weight: 700;
  }

  .div_ultimos-lidos-busca {
    margin: 10px;
  }