.section_tela-principal {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 300px) {
    span {
        font-weight: 500;
        font-size: 12px; 
        border: 1px solid #707070;
        border-radius: 5px;
        height: 14vw;
        display: flex;  
        justify-content: center;
        align-items: center;
        margin: 0 15px;
        padding: 10px;
    }

    .btn{
      margin: 19px 90px;
      font-size: 16px;
      padding: 15px 30px;
    }
     
  .btn-outline {
    color: #45D1C1;
    border: 1px solid;
    border-color: #45D1C1;
    display: flex;  
    justify-content: center;
    align-items: center;
  }
  
  
  .btn-outline:hover, .btn-outline:focus, .btn-outline:active, .btn-outline.active {
   color: #fff;
   border-color: #fff;
   background-color: #45D1C1;
 }
 
}