<section>
    <app-header></app-header>
</section>

<section class="section_tela-principal">
    <img src="../../../assets/svg/book.svg" alt="">

    <div>
        <span>Você está acessando pela Padaria Munhoz!</span>
    </div>

    <button [routerLink]='["../tela-localizacao"]' class="btn btn-outline">Continuar</button>
</section>

<section>
    <app-footer></app-footer>
</section>


<!-- <div>
    <button type="button" class="btn btn-primary" [routerLink]='["./tela-login"]'>Login</button>
</div>

<div>
    <button type="button" class="btn btn-primary" [routerLink]='["./tela-localizacao"]'>Localização</button>
</div>

<div>
    <button type="button" class="btn btn-primary" [routerLink]='["./tela-club-livro"]'>Clube Livro</button>
</div>

<div>
    <button type="button" class="btn btn-primary" [routerLink]='["./tela-filtro-tags"]'>Filtro Tags</button>
</div>

<div>
    <button type="button" class="btn btn-primary" [routerLink]='["./tela-gamification"]'>Gamification</button>
</div>

<div>
    <button type="button" class="btn btn-primary" [routerLink]='["./tela-podcast"]'>Podcast</button>
</div> -->

<!-- rotas para acessos as páginas que vão estão na pagina principal -->