<section class="div-ultimos-vistos">
    <app-segundo-topo [routerLink]='["../tela-inicial"]' ></app-segundo-topo>
</section>

<section>
    <app-campo-busca></app-campo-busca>
</section>

<div class="ultimos-vistos">
    <img src="../../../assets/svg/ultimos-vistos.svg" alt="">
</div>

<div>
    <p>Todos</p>
</div>

<div>
    <img class="primeiro-livro" src="../../../assets/svg/Screen Shot 2020-07-05 at 2.25.54 AM@3x.png" alt="">
</div>

<div>
    <img class="segundo-livro" src="../../../assets/svg/Screen Shot 2020-07-05 at 2.17.56 AM@3x.png" alt="">
</div>

<div>
    <img class="terceiro-livro" src="../../../assets/svg/Screen Shot 2020-07-05 at 3.22.54 AM@3x.png" alt="">
</div>

<div>
    <img class="icon" src="../../../assets/svg/Back to school-rafiki (1)@3x.png" alt="">
</div>

<section>
    <app-footer></app-footer>
</section>