  .preFooter_container {
    display: flex;
    justify-content: space-around;
    align-items: center;  
  }

  .arrow_left {
    height: 90px;
  }

  @media (min-width: 320px) {

    .ultimos-lidos{
      height: 0px;
      padding: 5px;
    }

    span {
    font-size: 20px;
    font-weight: 500;
    border: 1px solid #000000;
    border-radius: 10px;
    width: 81px;
    height: 36px;
    padding: 0px 15px;
    margin: 0px 7px 7px 225px;
  }

    .primeiro-livro{
      margin: 15px auto 0px 10px;
      width: 300px;
      height: 102px;
    }
  
    .segundo-livro{
      margin: 15px auto 0px 10px;
      width: 300px;
      height: 102px;
    }
  
    .terceiro-livro{
      margin: 15px auto 0px 10px;
      width: 300px;
      height: 102px;
    }

  .icon{
    width: 215px;
    height: 350px;
    margin-top: -60vw;
  }
  }

  @media (min-width: 360px) {
    .ultimos-lidos{
      height: 0px;
      padding: 5px;
    }

    span {
      font-size: 25px;
      font-weight: 500;
      border: 1px solid #000000;
      border-radius: 10px;
      width: 90px;
      height: 40px;
      padding: 0px 10px;
      margin: 0px 7px 5px 235px;
  }
  
    .primeiro-livro{
      margin: 15px auto 0px 30px;
      width: 300px;
      height: 102px;
    }
  
    .segundo-livro{
      margin: 15px auto 0px 30px;
      width: 300px;
      height: 102px;
    }
  
    .terceiro-livro{
      margin: 15px auto 0px 30px;
      width: 300px;
      height: 102px;
    }

  .icon{
    width: 215px;
    height: 350px;
    margin-top: -50vw;
  }
  }


  @media (min-width: 370px) {
    .ultimos-lidos{
      height: 0px;
      padding: 5px;
    }
    
    span {
      font-size: 25px;
      font-weight: 500;
      border: 1px solid #000000;
      border-radius: 10px;
      width: 90px;
      height: 40px;
      padding: 0px 10px;
      margin: 0px 7px 7px 245px;
  }

    .primeiro-livro{
      margin: 15px auto 0px 50px;
      width: 300px;
      height: 102px;
    }
  
    .segundo-livro{
      margin: 15px auto 0px 50px;
      width: 300px;
      height: 102px;
    }
  
    .terceiro-livro{
      margin: 15px auto 0px 50px;
      width: 300px;
      height: 102px;
    }

  .icon{
    width: 215px;
    height: 350px;
    margin-top: -47vw;
  }
  }
